body {
  margin: 0px;
}

#src {
  height: 100%;
  margin: 0px auto;
  padding-left: 190px;
  float: left;
}

#header {
  background-color: plum ;
  height: 40px;
  margin: 0 auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
}

.nav {
  background-color: plum;
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.up { 
  background-color: darkorchid;
  }
.nch { background-color: darkorchid; }
.ch { background-color: darkmagenta; }

#footer{
  background-color: plum;
  padding: 30px;
  margin-bottom: 0px;
}
